<template>
  <div style="flex: 1">
    <div
      id="hero"
      class="uk-background-cover uk-height-viewport"
      uk-parallax="bgy: -200;"
      style="background-image: url(img/hero.jpg)"
    >
      <div
        class="homenav"
        uk-sticky="top: 500;animation:uk-animation-slide-top;sel-target: .uk-navbar-container;
        cls-active:uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark"
      >
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left uk-visible@m">
            <ul
              class="uk-navbar-nav"
              uk-scrollspy-nav="closest: li; scroll: true;offset:80"
            >
              <li><a href="#hero">Home</a></li>

              <li><a href="https://ichthuseindhoven.nl/hub">Hub</a></li>
              <li><a href="#media">Media</a></li>
              <li><a href="#about">Vereniging</a></li>
              <li><a href="#partners">Partners</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="uk-navbar-left uk-hidden@m">
            <ul
              class="uk-navbar-nav"
              uk-scrollspy-nav="closest: li; scroll: true;offset:80"
            >
              <li class="uk-active">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="#hero">Home</a></li>

                    <li><a href="https://ichthuseindhoven.nl/hub">Hub</a></li>
                    <li><a href="#media">Media</a></li>
                    <li><a href="#about">Vereniging</a></li>
                    <li><a href="#partners">Partners</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <a href="#hero" class="uk-navbar-item uk-logo" uk-scroll>
              <img
                src="img/wapen.svg"
                width="100"
                height="80"
                class="uk-preserve"
                uk-svg
              />
            </a>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li>
                <a href="https://ichthuseindhoven.nl/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="uk-section">
        <div class="uk-position-center homepage-title uk-text-center uk-light">
          <h1 class="uk-margin-remove uk-heading-hero">
            C.S.V. Ichthus Eindhoven
          </h1>
          <p class="uk-margin-remove uk-text-lead">
            Geloof, diepgang, vriendschap en gezelligheid
          </p>
        </div>
        <a
          href="#blurb"
          uk-icon="icon:  chevron-down; ratio:3"
          uk-scroll
          offset="80"
          class="uk-position-bottom-center scroll-button"
        >
        </a>
      </div>
    </div>
    <div id="blurb">
      <div class="uk-section uk-section-primary">
        <div class="uk-container">
          <hr class="uk-divider-icon uk-padding-medium" />
          <div class="uk-text-lead uk-text-center">
            <p>
              Ichthus Eindhoven is een christelijke studentenvereniging vol
              enthousiaste studenten die samen op zoek gaan naar God. Door
              middel van een breed scala aan activiteiten proberen we zo het
              meeste uit onze studententijd te halen. Zo krijg je bij Ichthus de
              studententijd waar elke student van droomt!
            </p>
          </div>
          <hr class="uk-divider-icon uk-padding-medium" />
        </div>
      </div>
      <div class="uk-section uk-section-default" id="vue-activities-extern">
        <home-events-component> </home-events-component>

        <div class="uk-text-center uk-margin">
          <a href="https://ichthuseindhoven.nl/activiteiten"
            >Meer activiteiten...</a
          >
        </div>
      </div>
    </div>
    <div id="media" class="uk-section uk-section-muted">
      <div class="uk-container" id="vue-media">
        <h2 class="uk-heading-line uk-text-center"><span>Media</span></h2>
        <video-component url="/videos/promo.mp4"></video-component>
        <hr class="uk-divider-icon" />

        <div
          class="uk-position-relative"
          uk-slideshow="autoplay: true;autoplay-interval: 3000"
        >
          <ul class="uk-slideshow-items uk-cover-container">
            <li>
              <img data-src="img/media/01.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/02.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/03.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/04.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/05.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/06.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/07.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/08.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/09.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/10.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/11.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/12.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/13.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/14.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/15.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/16.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/17.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/18.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/19.jpg" alt="" uk-img uk-cover />
            </li>
            <li>
              <img data-src="img/media/20.jpg" alt="" uk-img uk-cover />
            </li>
          </ul>
          <a
            class="
              uk-slidenav-large
              uk-position-center-left
              uk-position-small
              uk-hidden-hover
            "
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
          ></a>
          <a
            class="
              uk-slidenav-large
              uk-position-center-right
              uk-position-small
              uk-hidden-hover
            "
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
          ></a>
          <div class="uk-position-bottom-center uk-position-small">
            <ul class="uk-slideshow-nav uk-dotnav uk-light"></ul>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="uk-section uk-section-default">
      <div class="uk-container">
        <h2 class="uk-heading-line uk-text-center"><span>Vereniging</span></h2>
        <p>
          Ichthus Eindhoven is een groeiende en levendige vereniging. Al jaren
          is Ichthus uniek in Eindhoven door haar combinatie van christelijke
          activiteiten met een actief studentenleven. Ichthus is de grootste
          christelijke studentenvereniging van Eindhoven.
        </p>
        <p>
          Elke week is er minimaal &eacute;&eacute;n activiteit met een
          religieus karakter voor de gehele vereniging. Daarnaast worden er ook
          veel andere uiteenlopende activiteiten georganiseerd. Zo organiseert
          Ichthus Eindhoven open avonden, een studentengala, sportactiviteiten,
          feesten, borrels, discussieavonden, Alpha-cursussen, en nog veel meer.
        </p>
        <p>
          De goede banden die Ichthus opgebouwd heeft met christelijke en
          niet-christelijke verenigingen in Eindhoven en daarbuiten zijn een
          bron van gezellige en leerzame gemeenschappelijke activiteiten. Met
          het onlangs aangekochte pand hopen wij ook zichtbaar in en verbonden
          met de stad te zijn.
        </p>
        <h3>Verenigingsstructuren</h3>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-primary">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Kring</h3>
                <p>
                  Om de week komen leden bij elkaar op kringavonden. Tijdens een
                  kringavond eet men met elkaar, om vervolgens te zingen, bidden
                  en bijbelstudie te doen. Op kring leer je mensen kennen, leer
                  je samen en groei je samen in de relatie met God. Iedereen zit
                  in een kring en de samenstelling van de kringen wordt ieder
                  collegejaar opnieuw vastgesteld om ervoor te zorgen dat je zo
                  veel mogelijk mensen van de vereniging echt leert kennen en je
                  vrienden voor het leven kan vinden. Na een kringavond wordt er
                  vaak met de hele vereniging geborreld.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-primary">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Kringhuizen</h3>
                <p>
                  Kringhuizen bestaan uit drie kringen en komen
                  &eacute;&eacute;n keer per maand samen voor een gezamenlijke
                  avond, of om met z’n allen samen te eten. Elk lid komt naast
                  een kring, ook in een kringhuis terecht, maar in tegenstelling
                  tot bij de kringen, verandert de samenstelling van kringhuizen
                  niet. Natuurlijk worden er ieder jaar wel weer nieuwe mensen
                  toegevoegd aan een kringhuis en gaan anderen weer weg.
                  Hierdoor leer je steeds weer nieuwe mensen kennen. Kringhuizen
                  zijn vooral bedoeld om, ondanks de harde groei van de
                  vereniging in de afgelopen jaren, toch de onderlinge
                  betrokkenheid van leden te behouden.
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-primary">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Disputen</h3>
                <p>
                  Disputen staan los van de kring- en kringhuizenstructuur, en
                  niet alle leden worden dan ook lid van een dispuut. Een
                  dispuut kan gezien worden als een hechte vriendengroep binnen
                  de vereniging, die vaak met elkaar samenkomt naast de vaste
                  Ichthus-avonden. Disputen hebben hun eigen activiteiten, zowel
                  op actief, als op geestelijk vlak.
                </p>
              </div>
            </div>
          </div>
        </div>
        <h3>Soci&euml;teit Amnis</h3>
        <div
          class="
            uk-card
            uk-card-primary
            uk-grid-collapse
            uk-child-width-1-2@s
            uk-margin
          "
          uk-grid
        >
          <div class="uk-card-media-left uk-cover-container">
            <canvas width="300" height="450"></canvas>
            <img
              src="https://ichthuseindhoven.nl/img/pand.jpg"
              alt="Soci&euml;teit Amnis"
              uk-cover
            />
          </div>
          <div>
            <div class="uk-card-body">
              <p class="uk-dropcap">
                Soci&euml;teit Amnis is in een prachtig monumentaal pand uit
                1901, gevestigd op Dommelstraat 6 te Eindhoven. De Dommelstraat
                6 is gelegen aan de rand van het Centrum, en bevindt zich op 350
                meter afstand van Centraal station Eindhoven. De Dommelstraat is
                een drukbezochte straat met verschillende caf&eacute;s en
                restaurantjes. Zo ligt het op een steenworp afstand van
                poppodium de Effenaar.
                <br /><br />Als christelijke studentenvereniging willen we
                duidelijk zichtbaar zijn in de stad, zodat we ons als
                christelijke studenten een gezicht kunnen geven in Eindhoven. De
                Dommelstraat is een centrale, drukke straat en dus een ultieme
                plaats om ons als Ichthus te huisvesten. <br /><br />Kom gerust
                eens binnenwandelen. Ook als niet-lid ben je van harte welkom!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="partners" class="uk-section uk-section-default">
      <div class="uk-container uk-text-center uk-text-middle">
        <h2 class="uk-heading-line uk-text-center"><span>Partners</span></h2>
        <div class="uk-grid-match uk-child-width-1-3 uk-flex-middle" uk-grid>
          <div>
            <a
              href="https://www.rikegroup.com/"
              target="_blank"
              class="sponsor-item"
            >
              <img
                src="img/partners/rike.jpg"
                alt="Groothandel bedrukte glazen en servies"
                uk-img
              />
            </a>
          </div>
          <div class="sponsoren-logos slider" style="height: 100px">
            <div class="slide">
              <a href="https://www.maxiaxi.com/" title="MaxiAxi"
                ><img src="img/partners/slider/Maxiaxilogo.jpg" alt="MaxiAxi"
              /></a>
            </div>
            <div class="slide">
              <a
                href="https://www.inshared.nl/autoverzekering"
                title="Autoverzekering"
                ><img
                  src="img/partners/slider/insharedlogo.png"
                  alt="Autoverzekering"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.maxilia.nl/" title="Maxilia.nl"
                ><img
                  src="img/partners/slider/Maxilia.jpg"
                  alt="Maxilia relatiegeschenken"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.urbansofa.nl/" title="Urbansofa"
                ><img
                  src="img/partners/slider/UrbanSofalogo.png"
                  alt="Sofa's van Urbansofa"
              /></a>
            </div>
            <div class="slide">
              <a
                href="https://www.sans-online.nl/herenkleding/vanguard/"
                title="Sans Online"
                ><img
                  src="img/partners/slider/Sansonlinelogo.png"
                  alt="Sans Online"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.regiobloemist.nl/" title="Bloemen bestellen"
                ><img
                  src="img/partners/slider/Regiobloemistnl.png"
                  alt="Bloemen bestellen"
              /></a>
            </div>
            <div class="slide">
              <a
                href="https://zakelijkgeld.nl/zakelijke-lening/"
                title="Zakelijke lening"
                ><img
                  src="img/partners/slider/ZakelijkGeldlogo.png"
                  alt="Zakelijke lening nodig?"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.hekwerkonline.nl/" title="Hekwerk Online"
                ><img
                  src="img/partners/slider/logo-hekwerkonline.png"
                  alt="Hekwerken online kopen"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.raamdecoratie.com/" title="Raamdecoratie"
                ><img
                  src="img/partners/slider/raamdecoratie-com-logo.png"
                  alt="Raamdecoratie kopen"
              /></a>
            </div>
            <div class="slide">
              <a
                href="https://www.ongediertebestrijden.com/"
                title="Ongedierte Bestrijden"
                ><img
                  src="img/partners/slider/Logo-ongediertebestrijden.jpg"
                  alt="Ongedierte Bestrijden"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.travelbags.nl/" title="Travelbags"
                ><img
                  src="img/partners/slider/Travelbagslogo.png"
                  alt="Travelbags"
              /></a>
            </div>
            <div class="slide">
              <a
                href="https://www.mijnautoonderdelen.nl/"
                title="Auto onderdelen kopen"
                ><img
                  src="img/partners/slider/MijnAutoOnderdelen.png"
                  alt="Auto onderdelen kopen"
              /></a>
            </div>
            <div class="slide">
              <a href="https://rentman.io/nl" title="Rentman"
                ><img src="img/partners/slider/Rentmanlogo.png" alt="Rentman"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.beboparket.nl/" title="BeBo Parket"
                ><img
                  src="img/partners/slider/BeBoParketlogo.png"
                  alt="BeBo Parket"
              /></a>
            </div>
            <div class="slide">
              <a href="https://www.bouwhuis.com/" title="Bouwhuis.com"
                ><img src="img/partners/slider/Bouwhuislogo.png" alt="Bouwhuis"
              /></a>
            </div>
          </div>
          <div>
            <a
              href="https://www.sponsorkliks.com/winkels.php?club=9374"
              target="_blank"
              class="sponsor-item"
            >
              <img
                src="/img/sponsorkliks.png"
                alt="SponsorKliks, gratis Ichthus sponsoren!"
                title="SponsorKliks, sponsor Ichthus gratis!"
                Border="0"
              />
            </a>
          </div>
        </div>
        <div class="uk-grid-match uk-child-width-1-3 uk-flex-middle" uk-grid>
          <div>
            <a
              href="https://www.knaek.nl/studentenkorting/Eindhoven"
              target="_blank"
              class="sponsor-item"
            >
              <img src="img/partners/knaek.png" alt="" uk-img />
            </a>
          </div>

          <div>
            <a target="_blank" class="sponsor-item">
              <img data-src="img/bol.gif" uk-img />
            </a>
          </div>
          <div>
            <a
              href="https://www.studentenwegwijzer.nl/"
              target="_blank"
              class="sponsor-item"
            >
              <img data-src="img/studentenwegwijzer.gif" uk-img />
            </a>
          </div>
        </div>
      </div>
      <div class="uk-section uk-section-primary">
        <div class="uk-container">
          <h2 class="uk-heading-line uk-text-center">
            <span>Bestuur Vivus Expectatio</span>
          </h2>
          <div
            class="uk-card uk-card-default uk-grid-collapse uk-margin"
            uk-grid
          >
            <div
              class="
                uk-flex-last@s
                uk-card-media-right
                uk-cover-container
                uk-width-2-3@m
              "
            >
              <img src="img/bestuur.jpg" alt="" uk-cover />
              <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-1-3@m">
              <div class="uk-card-body">
                <div
                  class="
                    uk-grid-small
                    uk-grid-match
                    uk-text-left
                    uk-child-width-1-1@m
                    uk-child-width-1-2@s
                  "
                  uk-grid
                >
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Praeses</span></div>
                        <div><span>Joost Jan Elenbaas</span></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Ab Actis</span></div>
                        <div><span>Robert de Ridder</span></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Quaestor</span></div>
                        <div><span>Tamara Fahner</span></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Assessor Internorum</span></div>
                        <div><span>Maarten van der Hart</span></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Assessor Externorum</span></div>
                        <div><span>Anne-Wil van den Heuvel</span></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:user"></span>
                      </div>
                      <div class="uk-width-auto">
                        <div><span>Herus</span></div>
                        <div><span>Kim van Vuuren</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="contact">
        <div class="uk-section uk-section-muted">
          <div class="uk-container">
            <h2 class="uk-heading-line uk-text-left"><span>Contact</span></h2>

            <div class="uk-grid-match uk-child-width-1-2@s" uk-grid>
              <div>
                <div class="uk-card uk-card-muted uk-card-small">
                  <div class="uk-card-body">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:mail; ratio:2"></span>
                      </div>
                      <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                          E-mail
                        </h3>
                        <a
                          href="
                          m&#97;
                          &#105;
                          &#x6c;
                          t&#111;
                          :&#97;
                          &#98;
                          &#97;
                          &#99;
                          &#116;
                          i&#x73;
                          &#x40;
                          ic&#x68;
                          t&#x68;
                          u&#x73;
                          &#x65;
                          i&#110;
                          &#x64;
                          hov&#x65;
                          &#x6e;
                          &#46;
                          &#110;l"
                          style="text-decoration: none"
                          >&#97;&#98;&#97;&#99;&#116;i&#x73;&#x40;
                          ic&#x68;t&#x68;u&#x73;&#x65;i&#110;&#x64;
                          hov&#x65;&#x6e;&#46;&#110;l</a
                        >
                      </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:receiver; ratio:2"></span>
                      </div>
                      <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                          Telefoon
                        </h3>
                        +31 6 11 50 27 09
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="uk-card uk-card-muted uk-flex-middle">
                  <div class="uk-card-body">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:home; ratio:2"></span>
                      </div>
                      <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                          Adres
                        </h3>
                        Dommelstraat 6<br />
                        5611 CK, Eindhoven<br />
                        Nederland
                      </div>
                    </div>
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                        <span uk-icon="icon:credit-card; ratio:2"></span>
                      </div>
                      <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                          Bankgegevens
                        </h3>
                        NL47 INGB 0000 575256 <br />
                        t.n.v. CSV Ichthus Eindhoven
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr id="contactHR" />
            <form
              method="POST"
              action="https://ichthuseindhoven.nl/contact"
              accept-charset="UTF-8"
              id="contactForm"
            >
              <input
                name="_token"
                type="hidden"
                value="lQy20NPULyfb1L2F94a50Z3V8SwfKb5fvoegh43d"
              />

              <div class="uk-grid uk-grid-match">
                <input
                  type="hidden"
                  name="_token"
                  value="lQy20NPULyfb1L2F94a50Z3V8SwfKb5fvoegh43d"
                />
                <div class="uk-margin uk-width-1-2@s">
                  <label for="name" class="uk-form-label uk-form-large"
                    >Naam</label
                  >

                  <div class="uk-form-controls" uk-grid>
                    <div class="uk-width-expand">
                      <div class="uk-position-relative">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input
                          class="uk-input uk-form-controls"
                          placeholder="Naam"
                          data-vv-as="Naam"
                          name="name"
                          type="text"
                          value=""
                          id="name"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-margin uk-width-1-2@s">
                  <label for="email" class="uk-form-label uk-form-large"
                    >E-mailadres</label
                  >

                  <div class="uk-form-controls" uk-grid>
                    <div class="uk-width-expand">
                      <div class="uk-position-relative">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input
                          class="uk-input"
                          placeholder="E-mailadres"
                          data-vv-as="E-mailadres"
                          name="email"
                          type="text"
                          value=""
                          id="email"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-margin uk-width-1-1@s">
                  <label for="message" class="uk-form-label uk-form-large"
                    >Bericht</label
                  >

                  <div class="uk-form-controls">
                    <textarea
                      class="uk-form-controls uk-textarea"
                      placeholder="Bericht"
                      data-vv-as="Bericht"
                      name="message"
                      cols="50"
                      rows="10"
                      id="message"
                    ></textarea>
                  </div>
                </div>

                <div class="uk-margin uk-width-4-5@m uk-width-2-3@s">

                  <div class="uk-form-controls" uk-grid>
                    <div class="uk-width-auto">
                      <input
                        class="uk-form-controls uk-checkbox"
                        id="accepted"
                        data-vv-as="Het accepteren van de privacy voorwaarden"
                        name="accepted"
                        type="checkbox"
                        value="accepted"
                      />
                    </div>
                    <div class="uk-width-expand">
                      <label for="accepted" class="uk-form-label"
                        >Ik ga akkoord met het verwerken van mijn gegevens zoals
                        beschreven in onze
                        <a
                          href="https://ichthuseindhoven.nl/privacy-avg"
                          target="_blank"
                          >Privacy Voorwaarden</a
                        >.</label
                      >
                    </div>
                  </div>
                </div>

                <div class="uk-margin uk-width-1-5@m uk-width-1-3@s">
                  <button
                    class="uk-button uk-button-primary uk-width-1-1"
                  ></button>
                </div>
              </div>

              <div class="uk-margin uk-width-1-1@s">
                <div
                  class="g-recaptcha"
                  data-sitekey="6LeMw1gUAAAAABB2O7jbbEX3AhyDXmXR4Yf8RJRG"
                  data-callback="onSubmit"
                  data-size="invisible"
                  data-badge="inline"
                ></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Home',
  components: {},
});
</script>
